<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <div class="form-check form-check-inline">
        <input class="form-check-input" [(ngModel)]="selectedRadioButton" 
          type="radio" name="sex" id="todos" value="all">
        <label class="form-check-label" for="todos">All({{ totalEmployees() }})</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" [(ngModel)]="selectedRadioButton" 
          type="radio" name="sex" id="female" value="Fem">
        <label class="form-check-label" for="female">Female({{ femaleEmployees() }})</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" [(ngModel)]="selectedRadioButton" 
          type="radio" name="sex" id="male" value="Masc">
        <label class="form-check-label" for="male">Male({{ maleEmployees() }})</label>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th >#</th>
            <th >Name</th>
            <th >LastName</th>
            <th >Sex</th>
            <th >Salary</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let employee of employeesList, let i = index">
            <tr *ngIf="selectedRadioButton === 'all' || selectedRadioButton === employee.sex">
              <th>{{ i + 1 }}</th>
              <td>{{ employee.name }}</td>
              <td>{{ employee.lastName }}</td>
              <td>{{ employee.sex }}</td>
              <!-- <td>{{employee.salary | currency: 'EUR'}}</td> -->            
              <td>{{ employee.salary.toFixed(3) }} €</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

</div>
<app-employees-count></app-employees-count>
